body {
	background: #007bff;
	background: linear-gradient(to right, #0062e6, #33aeff);
}

.card {
	margin-top: 4em;
	margin-bottom: 4em;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .20),
		0 4px 5px 0 rgba(0, 0, 0, .14),
		0 1px 10px 0 rgba(0, 0, 0, .12)
}

.nav-tabs .nav-link {
	flex: 1;
	text-align: center;
}

.team-meta {
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.team-meta__logo {
	width: 35px;
	height: 30px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
	margin: 0;
}

.team-meta__logo img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border-style: none;
}

.team-meta__info {
	display: inline-block;
	vertical-align: middle;
}

.team-meta__name {
	font-size: 12px;
	line-height: 1.2em;
	font-weight: 400;
	margin-bottom: 0;
	text-transform: none;
}

.team-meta__place {
	display: block;
	font-size: 9px;
	line-height: 1.2em;
	font-family: Montserrat, sans-serif;
	color: #9a9da2;
}


.page-heading__title {
	text-transform: uppercase;
	letter-spacing: -.02em;
	font-size: 24px;
	margin-bottom: 0;
	font-style: normal;
	font-weight: 700;
	line-height: 1.1em;
}

@media (min-width: 992px) {

	.page-heading__title {
		font-size: 30px;
	}
}

.page-heading__title .highlight {
	color: #c2ff1f;
}
